.container {
    --ck-border-radius: 0.375rem;
    --ck-inner-shadow: 0 0 0 transparent inset;
    --ck-color-shadow-inner: var(--bs-primary-bg-subtle);
    --ck-color-focus-border: var(--bs-primary-bg-subtle);
    --ck-focus-ring: 1px solid var(--bs-primary-bg-subtle);
}
