.container {
    --ck-border-radius: 0.375rem;
    --ck-color-shadow-inner: var(--bs-primary-bg-subtle);
    --ck-color-focus-border: var(--bs-primary-bg-subtle);
    --ck-focus-ring: 2px solid var(--bs-primary-bg-subtle);

    :global {
        .ck {
            .ck-powered-by-balloon {
                display: none;
                visibility: hidden;

                .ck-powered-by {
                    display: none;
                    visibility: hidden;
                }
            }
        }

    }

}
