.container {
    --ck-border-radius: 0.375rem;
    --ck-inner-shadow: 0 0 0 transparent inset;
    --ck-color-shadow-inner: var(--bs-border-color);
    --ck-color-focus-border: var(--bs-border-color);
    --ck-focus-ring: 1px solid var(--bs-primary-border-subtle);
    --ck-color-text: var(--bs-dark);
    --ck-color-base-background: var(--bs-body-bg);
    --ck-color-base-border: var(--bs-border-color);
}

:global {
    .ck{
        .ck-powered-by-balloon {
            display: none;
            visibility: hidden;

            .ck-powered-by {
                display: none;
                visibility: hidden;
            }
        }
    }
}
