@import '~@panneau/themes/scss/variables';
@import '~@panneau/themes/scss/placeholders';

.container {
    position: relative;

    input {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
        }
        -moz-appearance: textfield; // stylelint-disable-line
        padding-right: 20px;
    }

    .arrow {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 100%;
        pointer-events: none;
    }

    .arrowIcon {
        margin: auto;
        font-size: 10px;
    }

    .dataListItems {
        position: absolute;
        z-index: 2;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0;
        list-style-type: none;
        border: 1px solid rgba(#000, 0.25);
        border-radius: 4px;
        background-color: $white;        
    }

    .dataListItem {
        width: 100%;
    }

    .dataListItemButton {
        width: 100%;
        border: 0;
        background-color: rgba($black, 0);
        text-align: left;

        &:hover {
            background-color: rgba($black, 0.1);
        }
    }
}
