.container {
    position: relative;

    input {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
        }
        -moz-appearance: textfield; // stylelint-disable-line
        padding-right: 20px;
    }

    .arrow {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;
        pointer-events: none;
        align-items: center;
        justify-content: center;
    }

    // .arrowIcon {
    //     margin: auto;
    //     font-size: 10px;
    // }

    .dataListItems {
        position: absolute;
        z-index: 2;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0;
        list-style-type: none;
        border: 1px solid rgba(var(--bs-black), 0.25);
        border-radius: 4px;
        background-color: var(--bs-white);
    }

    .dataListItem {
        width: 100%;
    }

    .dataListItemButton {
        width: 100%;
        border: 0;
        background-color: rgba(var(--bs-black), 0);
        text-align: left;

        &:hover {
            background-color: rgba(var(--bs-black), 0.1);
        }
    }
}
