{
    "env": {
        "dev": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        },
        "compile": {
            "plugins": [
                ["css-modules-transform", {
                    "preprocessCss": "./build/process-scss.js",
                    "extensions": [".css", ".scss"],
                    "generateScopedName": "panneau_[name]_[local]"
                }],
                ["./build/babel-plugin-transform-require-ignore", {
                    "extensions": [".global.scss"]
                }]
            ]
        },
        "test": {
            "presets": [
                "env",
                "react"
            ],
            "plugins": [
                "dynamic-import-node"
            ]
        }
    },
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": [
                    "> 1%",
                    "last 2 versions"
                ]
            },
            "useBuiltIns": true
        }],
        "react"
    ],
    "plugins": [
        "syntax-dynamic-import",
        ["transform-object-rest-spread", {
            "useBuiltIns": true
        }],
        ["transform-runtime", {
            "helpers": true,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
        }]
    ]
}
