node_modules
*.log
*.tgz
.tmp
.sass-cache
.DS_Store
/coverage
/out*
/_book
/styleguide

/fields/*/dist
/fields/*/es
/fields/*/lib
/fields/*/coverage

/forms/*/dist
/forms/*/es
/forms/*/lib
/forms/*/coverage

/layouts/*/dist
/layouts/*/es
/layouts/*/lib
/layouts/*/coverage

/lists/*/dist
/lists/*/es
/lists/*/lib
/lists/*/coverage

/modals/*/dist
/modals/*/es
/modals/*/lib
/modals/*/coverage

/packages/*/dist
/packages/*/es
/packages/*/lib
/packages/*/coverage

/previews/*/dist
/previews/*/es
/previews/*/lib
/previews/*/coverage
