# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
devnotes.md
_notes

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea
.vscode

node_modules
*.log
.tmp
.sass-cache
.DS_Store
/coverage
/out*
/_book

.env
.eslintcache
/*/*/es
/*/*/lib
/*/*/assets
/*/*/scss
/output
