{
    "extends": ["stylelint-config-sass-guidelines", "stylelint-config-property-sort-order-smacss"],
    "rules": {
        "indentation": 4,
        "order/properties-alphabetical-order": null,
        "selector-class-pattern": [
            "^[a-z][a-z0-9A-Z]+$",
            {
                "message": "Selector should be written in camel-case (selector-class-pattern)"
            }
        ],
        "max-nesting-depth": 4
    }
}
