@import '@panneau/core/src/styles/variables';

$track-size: 10px;
$track-size-hover: 10px;
$track-inner-color: $gray-300;
$track-inner-hover-color: $gray-500;
$track-side-color: $gray-200;

.container {
    display: flex;
    flex-direction: column;

    /* stylelint-disable selector-class-pattern */
    :global {
        .Resizer {
            position: relative;
            z-index: 1;
            box-sizing: border-box;
            transition: border-color 0.2s ease-out, border-width 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;
            background-clip: padding-box;
            background-color: $track-inner-color;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: $track-size - 3px;
                height: 40px;
                margin-top: -20px;
                margin-left: -(($track-size - 3px) / 2);
                transition: all 0.2s ease-out;
                border-radius: 10px;
                background-color: $track-inner-color;
            }

            &.horizontal {
                width: 100%;
                height: $track-size + 1px;
                border-top: ($track-size / 2) solid transparent;
                border-bottom: ($track-size / 2) solid transparent;
                cursor: row-resize;

                &:hover {
                    height: $track-size-hover + 1px;
                    border-top: ($track-size-hover / 2) solid $track-side-color;
                    border-bottom: ($track-size-hover / 2) solid $track-side-color;
                }
            }

            &.vertical {
                width: $track-size + 1px;
                border-right: ($track-size / 2) solid transparent;
                border-left: ($track-size / 2) solid transparent;
                cursor: col-resize;

                &:hover {
                    width: $track-size-hover + 1px;
                    border-right: ($track-size-hover / 2) solid $track-side-color;
                    border-left: ($track-size-hover / 2) solid $track-side-color;
                }
            }

            &.disabled {
                cursor: not-allowed;

                &:hover {
                    border-color: transparent;
                }
            }

            &:hover {
                background-color: $track-inner-hover-color;

                &::after {
                    background-color: $track-inner-hover-color;
                }
            }
        }

        .Pane2 {
            display: flex;
            flex-direction: column;
            overflow: auto;
        }
    }
    /* stylelint-enable selector-class-pattern */

    .form {
        padding: 10px;
    }

    .preview {
        position: relative;
        flex-grow: 1;
        overflow: auto;
    }
}

.isFullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .pane {
        position: relative;
        flex-grow: 1;
    }

    /* stylelint-disable selector-class-pattern */
    :global {
        .Pane1,
        .Pane2 {
            height: 100%;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    /* stylelint-enable selector-class-pattern */
}
