@import '../variables';

.container {
    .top {
        border-bottom: solid 1px $border-color;
    }

    .button {
        display: flex;
        width: 100%;
        padding: ($spacer / 4) 0;
        font-size: 0.9rem;
        font-weight: bold;
        text-align: left;
    }

    .label {
        flex-grow: 1;
    }

    .content {
        max-height: 0;
        padding-top: $spacer;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    &.isOpened {
        .content {
            max-height: 500px;
        }
    }
}
