@import '../variables';

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: dashed 2px $gray-600;
    color: $gray-600;

    .middle {
        text-align: center;
    }

    &.withoutBorder {
        border: 0;
    }

    &.invertColor {
        border: dashed 2px $gray-800;
        color: $gray-800;
    }
}
