@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'theme';

$container-small-max-widths: (
    sm: 540px,
    md: 540px,
    lg: 540px,
    xl: 540px,
) !default;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
