.container {
    display: block;
    margin: 0 auto;
    opacity: 1;
    cursor: auto;

    &.closeOutside {
        margin-top: 20px;
    }

    .closeOutsideButton {
        position: absolute;
        z-index: 10002;
        top: 0;
        right: -40px;
        left: auto;
        transform: translateZ(1px);
        // color: var(--bs-body-color);
    }
}
