.container {
    display: block;
    margin: 0;
    opacity: 1;
    cursor: auto;

    &.closeOutside {
        margin-top: 40px;
    }

    .closeOutsideButton {
        position: absolute;
        z-index: 10001;
        top: 0;
        right: -30px;
        transform: translateZ(1px);
        color: #FFF;
    }
}
