@import '@panneau/core/src/styles/variables';

.container {
    .form {
        position: relative;
    }

    .errors {
        margin-bottom: 10px;
    }

    .fields {
        position: relative;
    }

    .actions {
        margin-top: 10px;
    }

    .buttons {
        .button {
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .cols {
        display: table;
    }

    .col {
        display: table-cell;
        vertical-align: middle;
    }

    .colNotice {
        width: 100%;
        padding-left: 10px;
    }
}
