@import '@panneau/core/src/styles/variables';

.container {
    .form {
        position: relative;
    }

    .cols {
        display: table;
    }

    .col {
        display: table-cell;
        vertical-align: middle;
    }

    .noticeCell {
        padding-left: 10px;
    }
}
