@import '@panneau/core/src/styles/_variables';

.container {
    position: relative;

    &:global(.has-error) {
        :global(.rc-slider-track) {
            background: $danger;
        }

        :global(.rc-slider-handle) {
            border-color: $danger;
        }
    }
}
