{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                    "> 1%",
                    "last 2 versions"
                ]
            }
        }],
        "react"
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-object-rest-spread"
    ]
}
