.container {
    width: 100%;

    .inner {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        width: 100%;
    }

    &.xsmall {
        .inner {
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        }
    }

    &.small {
        .inner {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
    }

    &.medium {
        .inner {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }

    &.large {
        .inner {
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        }
    }
}
