@import '@panneau/core/src/styles/variables';

.formGroup {
    /* stylelint-disable selector-class-pattern, selector-max-compound-selectors */
    :global {
        .btn {
            height: 32px;
            padding: 2px;
            vertical-align: top;
        }

        .input-group {
            .btn {
                height: auto;
            }
        }
    }
    /* stylelint-enable selector-class-pattern, selector-max-compound-selectors */

    .swatch {
        display: block;
        width: 30px;
        height: 20px;
        border: solid 1px #ddd;
        border-radius: 2px;

        background-image: linear-gradient(45deg, $gray-300 25%, transparent 25%),
            linear-gradient(-45deg, $gray-300 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, $gray-300 75%),
            linear-gradient(-45deg, transparent 75%, $gray-300 75%);
        background-position: 0 0, 0 5px, 5px -5px, -5px 0;
        background-size: 10px 10px;
    }

    .clearBtn {
        padding-right: 0.3rem;
        padding-left: 0.3rem;
        font-size: $font-size-sm;
    }

    .colorBtn {
        border-color: $input-border-color;
    }

    .popover {
        top: 100%;
        margin-top: 5px;
    }

    .container {
        position: relative;
        white-space: nowrap;
    }
}
