.container {
    &.disabled {
        pointer-events: none;
    }

    .button {
        position: relative;
        color: inherit;
        font-family: inherit;
        line-height: 1;
        text-align: left;
        cursor: pointer;
        appearance: none;

        &:focus {
            outline: none;
        }

    }

    .emptyLabel {
        text-transform: none;
    }
}
