.formGroup {
    :global {
        .btn {
            height: 32px;
            padding: 2px;
            vertical-align: top;
        }
    }

    .swatch {
        display: block;
        width: 30px;
        height: 20px;
        border: solid 1px #ddd;
        border-radius: 2px;

        background-image:
          -moz-linear-gradient(45deg, #ddd 25%, transparent 25%),
          -moz-linear-gradient(-45deg, #ddd 25%, transparent 25%),
          -moz-linear-gradient(45deg, transparent 75%, #ddd 75%),
          -moz-linear-gradient(-45deg, transparent 75%, #ddd 75%);
        background-image:
          -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ddd), color-stop(.25, transparent)),
          -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ddd), color-stop(.25, transparent)),
          -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ddd)),
          -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ddd));

        background-size: 10px 10px;
        -webkit-background-size: 10px 11px; /* override value for shitty webkit */

        background-position:0 0, 5px 0, 5px -5px, 0px 5px;
    }

    .popover {
        top: 100%;
        margin-top: 5px;
    }

    .container {
        position: relative;
        white-space: nowrap;
    }
}
