@import '~@panneau/themes/scss/variables';
@import '~@panneau/themes/scss/placeholders';

.container {
    display: inline-block;

    .icon {
        display: block;
    }

    &.underlined {
        text-decoration: underline;
    }

    &.withoutStyle {
        @extend %reset-button;
    }

    &.asLink {
        @extend %reset-button;
        color: $primary;
        font-weight: bold;
    }

    &.withIcon {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        /* stylelint-disable */
        .label {
            margin-left: 0.5em;
        }

        .right {
            margin-left: 0.5em;
        }
        /* stylelint-enable */
    }

    &.withIconColumns {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }
}
