.container {
    display: inline-block;

    .icon {
        display: block;
    }

    &.withoutStyle, &.asLink {
        display: inline-block;
        position: relative;
        padding: 0;
        border: 0;
        background: transparent;
        color: inherit;
        font-family: inherit;
        cursor: pointer;
        appearance: none;

        &:focus {
            outline: none;
        }
    }

    &.asLink {
        color: var(--bs-primary);
        font-weight: bold;
    }

    &.withIcon {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        /* stylelint-disable */
        .label {
            margin-left: 0.5em;
        }

        .right {
            margin-left: 0.5em;
        }
        /* stylelint-enable */
    }

    &.withIconColumns {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }
}
