.container {
    .help {
        display: block;
        margin: 2px 0;
        color: var(--bs-gray-900);
        font-size: 0.9rem;
    }

    .errors {
        margin: 2px 0;
        color: var(--bs-color-red);
        font-size: 0.9rem;
    }

    &.hasErrors {
        .label,
        .help {
            color: var(--bs-color-red);
        }
    }
}
