.container {
    display: flex;
    min-height: 38px;
    align-items: center;
    justify-content: flex-start;
    user-select: none;

    &.vertical {
        flex-direction: column;
        align-items: flex-start;
    }
}
