@import '../variables';

.container {
    padding: 2px;

    .box {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        background-color: rgba($black, 0.5);
    }

    &.outline {
        margin: 2px 0;
        border: 2px solid rgba($black, 0.5);

        .box {
            background-color: transparent;
        }
    }
}
