$color-grey: #888;
$color-grey-dark: #333;
$color-grey-light: #AAA;
$color-grey-lighter: #CCC;
$color-white-transparent: rgba(255, 255, 255, 0);

// styles/partials/media.scss
.container {
    padding: 10px;

    .thumbnail {
        width: 100px;
        height: 75px;
        border: solid 1px $color-grey;
        background-color: $color-grey-lighter;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .details {
        padding: 0 10px;
        font-size: .85em;
    }

    .commons {
        margin-bottom: 5px;


        .name {
            margin: 0;
            font-size: 1.25em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .date {
            color: $color-grey-dark;
            font-size: 1em;
        }
    }

    .actions {
        text-align: right;
    }

    &.picture {

    }

    &.audio {
        .thumbnail {
            width: 200px;
            background-color: $color-grey;
        }
    }

    &.video {

    }

    &.document {

    }

    &.font {

    }

    &.vertical {
        .thumbnail {
            width: 100%;
            margin-bottom: 5px;
        }
        .details {
            padding-left: 0;
        }
    }
}

// styles/view/container.scss
.flex {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: stretch;

    &.right {
        text-align: right;
    }

    &.vertical {
        flex-direction: column;
    }

    &.middle {
        align-items: center;
        justify-content: center;
    }
}

.table {
    display: table;
}

.cell {
    display: table-cell;

    &.top {
        vertical-align: top;
    }

    &.bottom {
        vertical-align: bottom;
    }

    &.middle {
        vertical-align: middle;
    }
}

.flexNone {
    display: block;
    flex: none;
}

.minHeight {
    min-height: min-content;
    max-height: min-content;
}

.fullHeight {
    height: 100%;
}

.fullWidth {
    width: 100%;
}

.absolute {
    position: absolute;

    &.full {
        height: 100%;
    }
}


//////////////
.field {

    .media {
        padding: 5px;
        border: solid 1px #ccc;
        border-radius: 4px;
        font-size: .75em;
    }
}


.dialog {
    width: auto;
    max-width: 800px;

    .body {
        padding: 0;
    }
}

.toolbar {
    padding: 5px 10px;
    background: $color-grey-light;

    .left {

    }

    .right {
        text-align: right;
    }
}

.filters {
    padding: 5px 10px;
    background: $color-grey-lighter;

    .left {
        input {
            max-width: 300px;
        }
    }

    .right {
        text-align: right;
    }
}

.loading {
    position: relative;
    top: 10px;
    margin: 0 10px 10px;
    padding: 40px;
    border: dashed 2px $color-grey;
    color: $color-grey;
    text-align: center;
}

.uploading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: $color-white-transparent;
    z-index: 2;

    > div {
        margin: 0;
    }
}

.list {
    position: relative;
    z-index: 1;

    .item {
        border-bottom: solid 1px $color-grey;
    }
}
