@import '@panneau/core/src/styles/variables';

.container {
    .items {
        position: relative;
    }

    .item {
        position: relative;
    }

    .image {
        display: block;
    }

    .emptyRow {
        padding-right: 0;
        padding-left: 0;
    }
}
