@import '@panneau/core/src/styles/variables';

.container {
    .items {
        position: relative;
    }
    
    .item {
        position: relative;
    }

    .emptyRow {
        padding-right: 0;
        padding-left: 0;
    }
}
