@import '@panneau/core/src/styles/variables';

.container {
    .header {
        position: relative;
    }

    .content {
        position: relative;
    }
    
    .footer {
        position: relative;
    }
}
