@import '~@panneau/themes/scss/variables';
@import '~@panneau/themes/scss/placeholders';

.container {
    margin-top: 20px;

    .arrowIcon {
        width: 20px;
        margin-right: 5px;
    }

    .collapseToggle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .cardHeaderContent {
        display: flex;
        position: relative;
        align-items: center;
        pointer-events: none;
    }

    .cardHeaderButtons {
        margin-left: auto;
        pointer-events: all;
    }

    .item {
        position: relative;

        &:not(.opened) {
            .cardHeader {
                border-bottom: 0;
            }
        }

        &.inline {
            display: inline-flex;
            flex-direction: row;
            margin-right: 10px;
        }
    }

    &.withFloatingAddButton {
        position: relative;

        > div > .header {
            position: absolute;
            right: 0;
            bottom: 100%;
        }
    }
}
