/* stylelint-disable selector-pseudo-class-no-unknown */

.container {
    line-height: 1.2;

    &.disabled {
        pointer-events: none;
    }

    .button {
        position: relative;
        display: inline-block;
        padding: 0;
        border: 0;
        appearance: none;
        background: transparent;
        color: inherit;
        cursor: pointer;
        font-family: inherit;
        text-align: left;

        &:focus {
            outline: none;
        }
    }

    .link {
        text-decoration: none;
    }

    .label {
        display: block;
    }

    .sublabel {
        display: block;
        font-size: 0.9em;
        font-weight: 300;
    }
}
