%navigation-chevron {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    width: 9px;
    height: 9px;
    border-width: 3px 3px 0 0;
    border-style: solid;
    border-color: $datepicker__muted-color;

    &--disabled,
    &--disabled:hover {
        border-color: $datepicker__navigation-disabled-color;
        cursor: default;
    }
}

%triangle-arrow {
    position: absolute;
    width: 0;
    margin-left: -$datepicker__triangle-size * 0.5;

    &::before,
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: -$datepicker__triangle-size;
        box-sizing: content-box;
        width: 1px;
        height: 0;
        border: $datepicker__triangle-size solid transparent;
        border-width: $datepicker__triangle-size;
    }

    &::before {
        border-bottom-color: $datepicker__border-color;
    }
}

%triangle-arrow-up {
    @extend %triangle-arrow;

    top: 0;
    margin-top: -$datepicker__triangle-size;

    &::before,
    &::after {
        border-top: none;
        border-bottom-color: $datepicker__background-color;
    }

    &::after {
        top: 0;
    }

    &::before {
        top: -1px;
        border-bottom-color: $datepicker__border-color;
    }
}

%triangle-arrow-down {
    @extend %triangle-arrow;

    bottom: 0;
    margin-bottom: -$datepicker__triangle-size;

    &::before,
    &::after {
        border-bottom: none;
        border-top-color: #fff;
    }

    &::after {
        bottom: 0;
    }

    &::before {
        bottom: -1px;
        border-top-color: $datepicker__border-color;
    }
}
