.component {
    .dot {
        display: inline-block;
        border-radius: 100%;
        animation-name: pulse;
        animation-duration: .75s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.2, .68, .18, 1.08);
        animation-fill-mode: both;

        &:nth-child(2) {
            animation-delay: .12s;
        }

        &:nth-child(3) {
            animation-delay: .24s;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    45% {
        transform: scale(.1);
        opacity: .7;
    }

    80% {
        transform: scale(1);
        opacity: 1;
    }
}
