.container {
    position: relative;

    .list {
        position: absolute;
        z-index: 1;
        width: 300px;
        max-height: 150px;
        margin-top: 5px;
        overflow-y: auto;
    }

    .btn {
        &:hover, &:active {
            border-color: transparent;
            text-decoration: underline;
        }
    }

    .item {
        padding: 5px 10px;

        button {
            width: 100%;
            text-align: left;
        }
    }

    .clear {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
    }

    &.withClear {
        .input {
            padding-right: 45px;
        }
    }
}
