.container {
    .icon {
        display: inline-block;

        &.withLabel {
            margin-right: 5px;
        }
    }

    &.noWrap {
        white-space: nowrap;

        .button {
            display: inline-block;
            float: none;
        }
    }
}
