.container {
    .button {
        .icon {
            display: inline-block;
            margin-right: 5px;
        }
    }

    &.noWrap {
        white-space: nowrap;

        .button {
            display: inline-block;
            float: none;
        }

    }
}
