@import '@panneau/core/src/styles/variables';

.container {
    &:last-child {
        margin-bottom: 0;
    }

    .cols {
        display: table;
        width: 100%;
    }

    .col {
        display: table-cell;
        vertical-align: top;

        &.middle {
            vertical-align: middle;
        }

        &.expand {
            width: 100%;
        }
    }

    .thumbnail {
        width: 100px;
        height: 75px;
        margin-right: 10px;
        border: solid 1px $input-border-color;
        background-color: $gray-300;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .label {

    }

    .name {
        text-overflow: ellipsis;
        // white-space: nowrap;
        overflow: hidden;
    }

    .details {
        font-size: .85em;

        ul,
        li {
            padding: 0;
            list-style: none;
        }
    }

    .actions {
        text-align: right;
        white-space: nowrap;
    }

    &.withoutBorder {
        padding: 0;
        border: 0;
        border-radius: 0;
    }
}
