.container {
    position: relative;

    .inner {
        display: inline-block;
        position: relative;
    }

    .input {
        position: relative;

        :global(.control-label) {
            font-size: 80%;
        }

        :global(.form-group) {
            margin-bottom: 0;
        }
    }
}
