/* stylelint-disable */

.container {
    position: relative;
    user-select: none;

    .popper {
        z-index: 4 !important;
    }
}

:global(.react-datepicker-popper) {
    transform: translate(0%, 38px) !important;
    z-index: 4 !important;
}

:global(.react-datepicker__triangle) {
    /* */
}

:global(.react-datepicker__navigation-icon) {
    &::before {
       /* */
    }
}

/* stylelint-enable */
