.container {
    position: relative;

    .inner {
        display: inline-block;
        position: relative;
    }

    .input {
        position: relative;

        :global(.control-label) {
            font-size: 80%;
        }

        :global(.form-group) {
            margin-bottom: 0;
        }
    }

    :global(.DayPickerNavigation_button) {
        position: absolute;
        z-index: 1;

        &:first-child {
            left: 0;
        }

        &:last-child {
            right: 0;
        }
    }
}
