// stylelint-disable selector-pseudo-class-no-unknown

/* stylelint-disable */

.container {
    user-select: none;
}

:global(.react-datepicker-popper) {
    z-index: 4 !important;
}

:global(.react-datepicker__triangle) {
    position: absolute !important;
    transform: translate(50px, 0) !important;
}

:global(.react-datepicker__navigation-icon) {
    &::before {
        top: 12px !important;
    }
}
/* stylelint-enable */
