// stylelint-disable selector-pseudo-class-no-unknown
@import '~@panneau/themes/scss/variables';
@import '~@panneau/themes/scss/placeholders';

.container {
    user-select: none;
}

:global {
    /* stylelint-disable */
    .react-datepicker-popper {
        z-index: 4 !important;
    }

    .react-datepicker__triangle {
        // display: none;
        position: absolute !important;
        transform: translate(50px, 0) !important;
        // left: 50px !important;
    }

    .react-datepicker__navigation-icon {
        &::before {
            top: 12px !important;
        }
    }
    /* stylelint-enable */
}
