.container {
    position: relative;
    width: 100%;

    .dashboard {
        position: relative;
    }

    .dashboardModal {
        position: relative;
        z-index: 10001;
    }

    .uppyDashboardContainer {
        margin-top: 10px;
    }
}
