@import '../variables';
@import '../placeholders';

.container {
    position: static;
}

.modals {
    &.hasModals {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($black, 0.2);
    }
}
