.formGroup {
    // stylelint-disable-next-line selector-class-pattern
    :global(.input-group-btn) {
        vertical-align: top;
    }

    &.withLocales {
        // stylelint-disable-next-line selector-class-pattern
        :global(> .form-group-label) {
            margin-bottom: 0.5rem;

            > label {
                margin-bottom: 0;
                vertical-align: middle;
            }

        }
    }
}
