.formGroup {
    :global(.input-group-btn) {
        vertical-align: top;
    }

    &.withLocales {
        :global(> .form-group-label) {
            margin-bottom: 10px;
        }
    }

    .btnGroup {
        margin-bottom: 0;
        margin-left: 10px;
    }
}
