@import '../variables';

.container {
    .header {
        .title {
            margin: 0;
        }

        .cols {
            display: table;
            width: 100%;
        }

        .col {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .listContainer {
        position: relative;
    }

    .list {
        position: relative;
        z-index: 1;
    }

    .loading {
        display: table;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .5);
        z-index: 2;

        .middle {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }

        &.alone {
            position: relative;
            height: 100px;
        }
    }
}
