@import '../variables';

.container {
    .header {
        .title {
            margin: 0;
        }

        .cols {
            display: table;
            width: 100%;
        }

        .col {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .list {
        position: relative;
    }

    .loading {
        text-align: center;
    }
}
