@import '../variables';

.container {
    .header {
        .cols {
            display: table;
            width: 100%;
        }

        .col {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .listContainer {
        position: relative;
    }

    .list {
        position: relative;
        z-index: 1;
    }

    .filters {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .loading {
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);

        .inner {
            display: table;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .middle {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }

        &.alone {
            position: relative;
            height: 100px;
        }
    }
}
